.boxed {
    max-width: 100%;
    height: 50px;
    border: 1px solid blue;
    font-weight: bold;
}
.weekdaybox {
    max-width: 100%;
    height: 20px;
    border: 1px solid blue;
    text-align: center;
    font-weight: bold;
    font-size: x-small;
}
.daybox {
    max-width: 100%;
    height: 50px;
    border: 1px solid blue;
    font-weight: bold;
}
.center {
    text-align: center;
}

.today {
    color: red;
    background-color: aqua;
}

.margin {
    margin-top: 75px;
}


